In [3]:
import pandas as p
df = p.DataFrame() 
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
data = [10,20,11,4,33,22]
df = p.DataFrame(data)
print(df)
print(type(df))

    0
0  10
1  20
2  11
3   4
4  33
5  22
<class 'pandas.core.frame.DataFrame'>

In [16]:
data2 = [["Alex",20], ["Mickey",11], ["Jacky",3]]
df = p.DataFrame(data2)
print(df)

print("\nNow, Printing with Column Names....")
df2 = p.DataFrame(data2, columns=["Name", "Age"])
print(df2)

        0   1
0    Alex  20
1  Mickey  11
2   Jacky   3

Now, Printing with Column Names....
     Name  Age
0    Alex   20
1  Mickey   11
2   Jacky    3

In [20]:
data3 =  [["Alex",20], ["Mickey",11], ["Jacky",3]]
df3 = p.DataFrame(data2, columns=["Name", "Age"], dtype=float)
print(df3)

     Name   Age
0    Alex  20.0
1  Mickey  11.0
2   Jacky   3.0

In [45]:
data4 = {'Name':['Tom','Jack', 'John',''], 'Age':[28,34,22,41]}
df4=p.DataFrame(data4, index=['rank1','rank2','rank3', 'rank4'], columns = ["Name", "Age"])
print(df4)

       Name  Age
rank1   Tom   28
rank2  Jack   34
rank3  John   22
rank4         41

In [47]:
data5 = [{'age':2.5, 'animal':'cat', 'priority':'yes', 'visits':1}, 
         {'age':3, 'animal':'cat', 'priority':'yes', 'visits':3},
         {'age':0.5, 'animal':'snake', 'priority':'no', 'visits':2}, 
         {'animal':'dog', 'priority':'yes', 'visits':3}]
df5 = p.DataFrame(data5, index=['a','b','c','d'])
print(df5)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3

In [51]:
data6 = {"age":[2.5,3,0.5,"NaN"],
        "animal":['cat','cat','snake','dog']}
df6 = p.DataFrame(data6, index=['a','b','c','d'])
print(df6)

   age animal
a  2.5    cat
b    3    cat
c  0.5  snake
d  NaN    dog

In [65]:
import os
os.chdir("C:\\Users\Praveen\Desktop\INSOFE\Python\PythonDatasets")

In [68]:
import pandas as pd

In [72]:
ipl1 = pd.read_csv("matches2017.csv")
ipl1.head(5)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2017_1,2017,Hyderabad,05-04-2017,SRH,RCB,RCB,field,normal,0,SRH,35,0,Yuvraj Singh,88,"Rajiv Gandhi International Stadium, Hyderabad",4,AY Dandekar,NJ Llong
1,2017_2,2017,Pune,06-04-2017,MI,RPS,RPS,field,normal,0,RPS,0,7,Steven Smith,321,Maharashtra Cricket Association Stadium,32,A Nand Kishore,S Ravi
2,2017_3,2017,Rajkot,07-04-2017,GL,KKR,KKR,field,normal,0,KKR,0,10,Chris Lynn,343,Saurashtra Cricket Association Stadium,33,Nitin Menon,CK Nandan
3,2017_4,2017,Indore,08-04-2017,RPS,KXI,KXI,field,normal,0,KXI,0,6,Glenn Maxwell,429,"Holkar Stadium Cricket Stadium, Indore, Madhya...",8,AK Chaudhary,C Shamshuddin
4,2017_5,2017,Bangalore,08-04-2017,RCB,DD,RCB,bat,normal,0,RCB,15,0,Kedar Jadhav,249,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NaN,NaN

In [75]:
print(ipl1.shape)

(59, 19)

In [78]:
ipl2 = pd.read_csv("matches2008-2016.csv")

In [79]:
ipl2_copy = ipl2.copy()

In [80]:
ipl2_final = ipl2_copy.append(ipl1)

In [81]:
ipl2_final.shape

(636, 19)

In [82]:
ipl2_final.tail()

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
54,2017_55,2017,Delhi,14-05-2017,RCB,DD,RCB,bat,normal,0,RCB,10,0,Harshal Patel,456.0,"Feroz Shah Kotla Stadium, Delhi",2,CK Nandan,C Shamshuddin
55,2017_56,2017,Mumbai,16-05-2017,RPS,MI,MI,field,normal,0,RPS,20,0,Washington Sunder,631.0,"Wankhede Stadium, Mumbai, Maharashtra",1,S Ravi,C Shamshuddin
56,2017_57,2017,Bangalore,17-05-2017,SRH,KKR,KKR,field,normal,1,KKR,0,7,Nathan Coulter-Nile,484.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,Nitin Menon
57,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
58,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582.0,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

In [83]:
print(ipl2_final.columns)

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [87]:
print(ipl2_final.dtypes)

match_id               object
season                  int64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

In [77]:
os.getcwd()

'C:\\Users\\Praveen\\Desktop\\INSOFE\\Python\\PythonDatasets'