In [1]:
import pandas as pd

In [42]:
import numpy as np

In [4]:
diabts = pd.read_csv("pima_indians_diabetes.csv")

In [8]:
#create the column names from a list

labels = ["Pregnant", "Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age","Outcome"]

In [46]:
diabts = pd.read_csv("pima_indians_diabetes.csv",names=labels)

In [10]:
diabts.head(2)

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [11]:
type(diabts)

pandas.core.frame.DataFrame

In [12]:
diabts.dtypes

Pregnant                      int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [14]:
diabts.tail(7)

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [23]:

diabts.Pregnant.astype("category")

0       6
1       1
2       8
3       1
4       0
5       5
6       3
7      10
8       2
9       8
10      4
11     10
12     10
13      1
14      5
15      7
16      0
17      7
18      1
19      1
20      3
21      8
22      7
23      9
24     11
25     10
26      7
27      1
28     13
29      5
       ..
738     2
739     1
740    11
741     3
742     1
743     9
744    13
745    12
746     1
747     1
748     3
749     6
750     4
751     1
752     3
753     0
754     8
755     1
756     7
757     0
758     1
759     6
760     2
761     9
762     9
763    10
764     2
765     5
766     1
767     1
Name: Pregnant, Length: 768, dtype: category
Categories (17, int64): [0, 1, 2, 3, ..., 13, 14, 15, 17]

In [21]:
diabts.Pregnant.astype("category")

0       6
1       1
2       8
3       1
4       0
5       5
6       3
7      10
8       2
9       8
10      4
11     10
12     10
13      1
14      5
15      7
16      0
17      7
18      1
19      1
20      3
21      8
22      7
23      9
24     11
25     10
26      7
27      1
28     13
29      5
       ..
738     2
739     1
740    11
741     3
742     1
743     9
744    13
745    12
746     1
747     1
748     3
749     6
750     4
751     1
752     3
753     0
754     8
755     1
756     7
757     0
758     1
759     6
760     2
761     9
762     9
763    10
764     2
765     5
766     1
767     1
Name: Pregnant, Length: 768, dtype: category
Categories (17, int64): [0, 1, 2, 3, ..., 13, 14, 15, 17]

In [25]:
diabts.Outcome.astype("category")

0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      0
8      1
9      1
10     0
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     1
26     1
27     0
28     0
29     0
      ..
738    0
739    1
740    1
741    0
742    0
743    1
744    0
745    0
746    1
747    0
748    1
749    1
750    1
751    0
752    0
753    1
754    1
755    1
756    0
757    1
758    0
759    1
760    0
761    1
762    0
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: category
Categories (2, int64): [0, 1]

In [26]:
diabts.dtypes

Pregnant                      int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [28]:
diabts.describe()

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [30]:
diabts.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [32]:
diabts.Pregnant.value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnant, dtype: int64

In [35]:
diabts.isnull().sum()

Pregnant                    0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [47]:
diabts.iloc[:,1:8] = diabts.iloc[:,1:8].replace(0,np.nan)

In [48]:
diabts.head(5)

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [49]:
diabts.isna().sum()

Pregnant                      0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [50]:
diabts_na_rows_dropped = diabts.copy()

In [59]:
diabts_na_rows_dropped = diabts_na_rows_dropped.dropna(axis=0)

In [60]:
diabts_na_rows_dropped.shape

(392, 9)

In [61]:
diabts_na_columns_dropped =  diabts.copy()

In [62]:
diabts_na_columns_dropped = diabts_na_columns_dropped.dropna(axis=1) #dropping columns with na

In [63]:
diabts_na_columns_dropped.shape

(768, 4)

In [64]:
diabts_na_columns_dropped.columns

Index(['Pregnant', 'DiabetesPedigreeFunction', 'Age', 'Outcome'], dtype='object')

In [65]:
## Imputation

from sklearn.preprocessing import Imputer

In [74]:
mean_Imputer = Imputer(strategy="mean")

In [67]:
diabts.isnull().sum()

Pregnant                      0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [80]:
mean_Imputed = diabts.copy()

In [81]:
mean_Imputed.iloc[:,1:6] = mean_Imputer.fit_transform(mean_Imputed.iloc[:,1:6])

In [83]:
mean_Imputed.isna().sum()

Pregnant                    0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [84]:
from sklearn.preprocessing import MinMaxScaler

In [85]:
range_scaler=MinMaxScaler()

In [86]:
range_scaled = mean_Imputed.copy()

In [87]:
range_scaled.iloc[:,1:8]= range_scaler.fit_transform(range_scaled.iloc[:,1:8])

In [88]:
range_scaled.head(4)

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,0.670968,0.489796,0.304348,0.170130,0.314928,0.234415,0.483333,1
1,1,0.264516,0.428571,0.239130,0.170130,0.171779,0.116567,0.166667,0
2,8,0.896774,0.408163,0.240798,0.170130,0.104294,0.253629,0.183333,1
3,1,0.290323,0.428571,0.173913,0.096154,0.202454,0.038002,0.000000,0

In [89]:
range_scaled.describe()

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,0.501205,0.493930,0.240798,0.170130,0.291564,0.168179,0.204015,0.348958
std,3.369578,0.196361,0.123432,0.095554,0.102189,0.140596,0.141473,0.196004,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.359677,0.408163,0.195652,0.129207,0.190184,0.070773,0.050000,0.000000
50%,3.000000,0.470968,0.491863,0.240798,0.170130,0.290389,0.125747,0.133333,0.000000
75%,6.000000,0.620968,0.571429,0.271739,0.170130,0.376278,0.234095,0.333333,1.000000
max,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [90]:
from sklearn.preprocessing import StandardScaler

In [93]:
StandardScaler01 = StandardScaler()

In [94]:
StandardScaled = mean_Imputed.copy()

In [96]:
StandardScaled.iloc[:,1:8]= StandardScaler01.fit_transform(StandardScaled.iloc[:,1:8])

In [98]:
StandardScaled.describe()

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,768.000000
mean,3.845052,-3.301757e-16,6.966722e-16,6.866252e-16,-2.352033e-16,3.553292e-16,2.398978e-16,1.857600e-16,0.348958
std,3.369578,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,0.476951
min,0.000000,-2.554131e+00,-4.004245e+00,-2.521670e+00,-1.665945e+00,-2.075119e+00,-1.189553e+00,-1.041549e+00,0.000000
25%,1.000000,-7.212214e-01,-6.953060e-01,-4.727737e-01,-4.007289e-01,-7.215397e-01,-6.889685e-01,-7.862862e-01,0.000000
50%,3.000000,-1.540881e-01,-1.675912e-02,8.087936e-16,-3.345079e-16,-8.363615e-03,-3.001282e-01,-3.608474e-01,0.000000
75%,6.000000,6.103090e-01,6.282695e-01,3.240194e-01,-3.345079e-16,6.029301e-01,4.662269e-01,6.602056e-01,1.000000
max,17.000000,2.541850e+00,4.102655e+00,7.950467e+00,8.126238e+00,5.042087e+00,5.883565e+00,4.063716e+00,1.000000